.auth{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #b9e7e7;
}

.H2{
    font: 20px;
    color: teal;
    margin-bottom:  20px;
}

form{
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: white;
    width: 200px;
}

.inp {
    padding: 10px;
    border:none;
    border-color: teal;
    cursor: pointer;
    color: white;

}

 .bnt{
    padding: 10px;
    border:none;
    background-color: teal;
    cursor: pointer;
    color:white;
}

.P2{
    font-size: 12px;
    color: red;
    text-align: center; 
}

.spn{
   font-size: 12px; 
   text-align: center;
}